*{ 
    box-sizing: border-box;
    padding: 0;
    scroll-behavior: smooth;
    font-size: large;
}
.carousel-inner{
    height: 40rem;
    width: 100%;
}
.carousel-inner img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.carousel-text{
    font-size: 1rem;
}
.popup-contact {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25vh;
}

@media (max-width: 480px) {
    *{
        font-size: medium;
       .text-justify{
        text-align: justify;
       }
    }
    .carouselText {
        color: rgb(255, 255, 255);
    }
    #carouselButton{
        font-size: 12px;
    }
}
