*{ 
    /* outline: red solid 2px; */
    box-sizing: border-box;
    padding: 0;
    scroll-behavior: smooth;
    font-size: large;
}
.carousel-inner{
    height: 40rem;
    width: 100%;
}
.carousel-inner img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#container-marketing-img{
    padding: 2.5rem;
    object-fit: contain;
}